---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=6bcb3eb09fa94f061923cdf517da3677&query=Ouija&year=2014
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"36baae774370990488f50cd6e253f9fb"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '3394'
      X-Memc-Expires:
      - '7406'
      X-Memc-Key:
      - 7a520086c28a6beee1f73066af346465
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/pJXFPBOild76vDAiapX5BOTtj2B.jpg","id":242512,"original_title":"Ouija","release_date":"2014-10-24","poster_path":"/m9jNAoWFL3cevXhqP6RePQYUmJa.jpg","popularity":3.14051221822419,"title":"Ouija","vote_average":7.2,"vote_count":5}],"total_pages":1,"total_results":1}'
  recorded_at: Sat, 01 Nov 2014 07:39:12 GMT
recorded_with: VCR 2.9.3
