---
http_interactions:
- request:
    method: post
    uri: https://byroredux-metacritic.p.mashape.com/search/movie
    body:
      encoding: UTF-8
      string: max_pages=1&title=Ouija
    headers:
      X-Mashape-Key:
      - Ox9v8xmk50mshP0TW0RpTdnNAQ6Up1FQyZBjsnTgPQUvFh8Pa2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"max_pages":"1","count":1,"results":[{"name":"Ouija","score":"38","url":"http:\/\/www.metacritic.com\/movie\/ouija","rlsdate":"2014-10-24","rating":"PG-13","cast":"Ana
        Coto, Bianca A. Santos, Daren Kagasoff, Douglas Smith, Olivia Cooke","genre":"Action,
        Adventure, Thriller, Horror","avguserscore":"7.5","runtime":"89 min"}]}'
  recorded_at: Sat, 01 Nov 2014 07:45:41 GMT
recorded_with: VCR 2.9.3
