---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/gmallcinemas/posts?access_token=717895564958456%7C3b95cbd9ca4a0a73dbaf35af149ac070
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.1
      Etag:
      - '"7d683f05d36e72b132810ef508899e0539fac3e3"'
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"130984640252671_898630106821450","from":{"category":"Movie
        theater","category_list":[{"id":"192511100766680","name":"Movie Theatre"}],"name":"GMALL
        Cinemas","id":"130984640252671"},"message":"FREQUENTLY ASKED QUESTIONS (FAQ)\n\n1)
        Is this the official FB page of Gaisano Cinemas?\n\nThis is maintained by
        a movie fan, but the GMall Cinemas management recognizes this page.\nAdmin
        is not an employee of Gaisano Mall Davao nor its cinema. So please don''t
        demand \"customer service\" from the admin.\nThe admin updates the page as
        soon as the information is available. S[...]
