---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/gmallcinemas/posts?access_token=717895564958456%7C3b95cbd9ca4a0a73dbaf35af149ac070
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.2
      Etag:
      - '"d0d836e43f1763e4c5d1b93c97654afe1ca8bca8"'
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"130984640252671_902301216454339","from":{"category":"Movie
        theater","category_list":[{"id":"192511100766680","name":"Movie Theatre"}],"name":"GMALL
        Cinemas","id":"130984640252671"},"story":"GMALL Cinemas added a new photo.","story_tags":{"0":[{"id":"130984640252671","name":"GMALL
        Cinemas","offset":0,"length":13,"type":"page"}]},"picture":"https:\/\/fbcdn-sphotos-e-a.akamaihd.net\/hphotos-ak-xap1\/v\/t1.0-9\/s130x130\/10671411_902301079787686_129214313032675664_n.jpg?oh=6fbe35951534edd1bd820e729bd3dcd8&oe=54DBE0AE&__gda__=1427948423_b036870f55f62feb58e523d453142e17","link":"https:\/\/www.facebook.com\/gmallcinemas\/photos\/a.482392871778511.119723.130984640252671\/902301079787686\/?type=1&relevant_count=1","name":"NEXT
        PICTURE","icon":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/StEh3RhPvjk.gif","privacy":{"value":""},"type":"photo","status_type":"added_photos","object_id":"902301079787686","created_time":"2014-11-11T14:43:36+0000","updated_time":"2014-11-11T14:43:36+0000","likes":{"data":[{"id":"684855131594535","name":"Antonette
        Arduo Bacani"}],"paging":{"cursors":{"after":"Njg0ODU1MTMxNTk0NTM1","before":"Njg0ODU1MTMxNTk0NTM1"}}}},{"id":"130984640252671_902299993121128","from":{"category":"Movie
        theater","category_list":[{"id":"192511100766680","name":"Movie Theatre"}],"name":"GMALL
        Cinemas","id":"130984640252671"},"story":"GMALL Cinemas added a new photo.","story_tags":{"0":[{"id":"130984640252671","name":"GMALL
        Cinemas","offset":0,"length":13,"type":"page"}]},"picture":"https:\/\/fbcdn-sphotos-g-a.akamaihd.net\/hphotos-ak-xpa1\/v\/t1.0-9\/s130x130\/1506515_902299919787802_4742431392771451222_n.jpg?oh=a69f0adc3a1c741f11650739d5f5385a&oe=54DFE1F5&__gda__=1427376162_0332b833c21182a87c008809b42d92db","link":"https:\/\/www.facebook.com\/gmallcinemas\/photos\/a.482392871778511.119723.130984640252671\/902299919787802\/?type=1&relevant_count=1","name":"NEXT
        PICTURE","icon":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/StEh3RhPvjk.gif","privacy":{"value":""},"type":"photo","status_type":"added_photos","object_id":"902299919787802","created_time":"2014-11-11T14:42:04+0000","updated_time":"2014-11-11T14:42:29+0000","likes":{"data":[{"id":"520691041409662","name":"Miracle
        Chii"},{"id":"684855131594535","name":"Antonette Arduo Bacani"}],"paging":{"cursors":{"after":"Njg0ODU1MTMxNTk0NTM1","before":"NTIwNjkxMDQxNDA5NjYy"}}},"comments":{"data":[{"id":"902299919787802_902300716454389","from":{"category":"Movie
        theater","category_list":[{"id":"192511100766680","name":"Movie Theatre"}],"name":"GMALL
        Cinemas","id":"130984640252671"},"message":".","can_remove":false,"created_time":"2014-11-11T14:42:28+0000","like_count":0,"user_likes":false},{"id":"902299919787802_902300726454388","from":{"category":"Movie
        theater","category_list":[{"id":"192511100766680","name":"Movie Theatre"}],"name":"GMALL
        Cinemas","id":"130984640252671"},"message":".","can_remove":false,"created_time":"2014-11-11T14:42:29+0000","like_count":0,"user_likes":false}],"paging":{"cursors":{"after":"WTI5dGJXVnVkRjlqZFhKemIzSTZPVEF5TXpBd056STJORFUwTXpnNE9qRTBNVFUzTVRZNU5EazZNZz09","before":"WTI5dGJXVnVkRjlqZFhKemIzSTZPVEF5TXpBd056RTJORFUwTXpnNU9q[...]
