---
http_interactions:
- request:
    method: post
    uri: https://byroredux-metacritic.p.mashape.com/search/movie
    body:
      encoding: UTF-8
      string: max_pages=1&title=The%20Lord%20of%20the%20Rings%3A%20The%20Return%20of%20the%20King
    headers:
      X-Mashape-Key:
      - Ox9v8xmk50mshP0TW0RpTdnNAQ6Up1FQyZBjsnTgPQUvFh8Pa2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"max_pages":"1","count":1,"results":[{"name":"The Lord of the Rings:
        The Return of the King","score":"94","url":"http:\/\/www.metacritic.com\/movie\/the-lord-of-the-rings-the-return-of-the-king","rlsdate":"2003-12-17","rating":"PG-13","cast":"Andy
        Serkis","genre":"Action, Adventure, Fantasy","avguserscore":"9.0","runtime":"201
        min"}]}'
  recorded_at: Wed, 01 Jan 2003 04:00:02 GMT
- request:
    method: get
    uri: http://www.omdbapi.com/?s=The%20Lord%20of%20the%20Rings:%20The%20Return%20of%20the%20King&y=2003
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Sun, 02 Nov 2014 09:15:38 GMT
    body:
      encoding: UTF-8
      string: '{"Search":[{"Title":"The Lord of the Rings: The Return of the King","Year":"2003","imdbID":"tt0167260","Type":"movie"},{"Title":"The
        Lord of the Rings: The Return of the King","Year":"2003","imdbID":"tt0387360","Type":"game"}]}'
  recorded_at: Wed, 01 Jan 2003 04:00:05 GMT
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=dzvhcez774keqnkankf8kt8z&page=1&q=The%20Lord%20of%20the%20Rings:%20The%20Return%20of%20the%20King
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/javascript;charset=ISO-8859-1
      Flx-Build-Date:
      - '2014-10-30 12:31:49'
      Flx-Commit:
      - JOBRELEASE.2014-10-30.11-47-17 3a1e500
      Flx-Server:
      - web235.flixster.com
      Rt-Commit:
      - 0e82581
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-62.mashery.com
    body:
      encoding: UTF-8
      string: |2
































        {"total":2,"movies":[{"id":"10156","title":"The Lord of the Rings: The Return of the King","year":2003,"mpaa_rating":"PG-13","runtime":201,"critics_consensus":"","release_dates":{"theater":"2003-12-17","dvd":"2004-05-25"},"ratings":{"critics_rating":"Certified Fresh","critics_score":94,"audience_rating":"Upright","audience_score":86},"synopsis":"","posters":{"thumbnail":"http://content9.flixster.com/movie/11/16/64/11166423_tmb.jpg","profile":"http://content9.flixster.com/movie/11/16/64/11166423_tmb.jpg","detailed":"http://content9.flixster.com/movie/11/16/64/11166423_tmb.jpg","original":"http://content9.flixster.com/movie/11/16/64/11166423_tmb.jpg"},"abridged_cast":[{"name":"Elijah Wood","id":"162652512","characters":["Frodo Baggins"]},{"name":"Ian McKellen","id":"162653241","characters":["Gandalf"]},{"name":"Viggo Mortensen","id":"162654541","characters":["Aragorn"]},{"name":"Sean Astin","id":"162659177","characters":["Samwise Gamgee"]},{"name":"Orlando Bloom","id":"162652240","characters":["Legolas"]}],"alternate_ids":{"imdb":"0167260"},"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156.json","alternate":"http://www.rottentomatoes.com/m/the_lord_of_the_rings_the_return_of_the_king/","cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156/cast.json","reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156/reviews.json","similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156/similar.json"}},{"id":"771307026","title":"The Lord of the Rings: The Return of the King (Extended)","year":2003,"mpaa_rating":"PG-13","runtime":225,"release_dates":{"theater":"2003-12-05"},"ratings":{"critics_score":-1,"audience_rating":"Upright","audience_score":98},"synopsis":"","posters":{"thumbnail":"http://content8.flixster.com/movie/11/16/64/11166446_tmb.jpg","profile":"http://content8.flixster.com/movie/11/16/64/11166446_tmb.jpg","detailed":"http://content8.flixster.com/movie/11/16/64/11166446_tmb.jpg","original":"http://content8.flixster.com/movie/11/16/64/11166446_tmb.jpg"},"abridged_cast":[{"name":"Elijah Wood","id":"162652512"},{"name":"Liv Tyler","id":"162661412"},{"name":"Ian McKellen","id":"162653241"},{"name":"Viggo Mortensen","id":"162654541"},{"name":"Sean Astin","id":"162659177"}],"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/771307026.json","alternate":"http://www.rottentomatoes.com/m/lord_of_the_rings_the_return_of_the_king_extended/","cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/771307026/cast.json","reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/771307026/reviews.json","similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/771307026/similar.json"}}],"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies.json?q=The+Lord+of+the+Rings%3A+The+Return+of+the+King&page_limit=30&page=1"},"link_template":"http://api.rottentomatoes.com/api/public/v1.0/movies.json?q={search-term}&page_limit={results-per-page}&page={page-number}"}
  recorded_at: Wed, 01 Jan 2003 04:00:06 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=6bcb3eb09fa94f061923cdf517da3677&query=The%20Lord%20of%20the%20Rings:%20The%20Return%20of%20the%20King&year=2003
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"78b6271976c8cd2ada8770eba0dedf92"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '207'
      X-Memc-Expires:
      - '10593'
      X-Memc-Key:
      - 7030b841ffac43062618f4df08ddde5e
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/8BPZO0Bf8TeAy8znF43z8soK3ys.jpg","id":122,"original_title":"The
        Lord of the Rings: The Return of the King","release_date":"2003-12-17","poster_path":"/50LoR9gJhbWZ5PpoHgi8MNTYgzd.jpg","popularity":3.00554924810127,"title":"The
        Lord of the Rings: The Return of the King","vote_average":7.6,"vote_count":3457}],"total_pages":1,"total_results":1}'
  recorded_at: Wed, 01 Jan 2003 04:00:08 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=6bcb3eb09fa94f061923cdf517da3677&query=The%20Lord%20of%20the%20Rings:%20The%20Return%20of%20the%20King&year=2003
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"78b6271976c8cd2ada8770eba0dedf92"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '216'
      X-Memc-Expires:
      - '10584'
      X-Memc-Key:
      - 7030b841ffac43062618f4df08ddde5e
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/8BPZO0Bf8TeAy8znF43z8soK3ys.jpg","id":122,"original_title":"The
        Lord of the Rings: The Return of the King","release_date":"2003-12-17","poster_path":"/50LoR9gJhbWZ5PpoHgi8MNTYgzd.jpg","popularity":3.00554924810127,"title":"The
        Lord of the Rings: The Return of the King","vote_average":7.6,"vote_count":3457}],"total_pages":1,"total_results":1}'
  recorded_at: Wed, 01 Jan 2003 04:00:17 GMT
recorded_with: VCR 2.9.3
