<section id="stats">
  <h3 class="section-title">Stats</h3>
  <div class="row">
    
    <div class="col-sm-6 col-md-3 col-xl-3 stats">
      <span class="stat-value">8</span>
      <h3 class="stat-title">Movies</h3>
    </div>

    <div class="col-sm-6 col-md-3 col-xl-3 stats">
      <span class="stat-value">123</span>
      <h3 class="stat-title">Schedules</h3>
    </div>

    <div class="col-sm-6 col-md-3 col-xl-3 stats">
      <span class="stat-value">7</span>
      <h3 class="stat-title">Cinemas</h3>
    </div>

    <div class="col-sm-6 col-md-3 col-xl-3 stats">
      <span class="stat-value">2,951</span>
      <h3 class="stat-title">Records</h3>
    </div>

  </div>
</section>

<section id="movies">
  <h2 class="section-title">Movies</h2>
  <div class="row">
    
    <div class="col-md-3 movie">
      <a href="#" class="thumbnail movie-thumb"><img src="https://image.tmdb.org/t/p/w300/bHarw8xrmQeqf3t8HpuMY7zoK4x.jpg"></a>
      <h3 class="movie-title"><a href="#">Guardians of the Galaxy</a></h3>
      <ul class="movie-stats">
        <li>
          <i class="fa fa-calendar"></i>
          <span class="movie-stat-value">15</span>
          scheduled
        </li>
        <li>
          <i class="fa fa-building"></i>
          <span class="movie-stat-value">3</span>
          cinemas
        </li>
      </ul>
    </div>

    <div class="col-md-3 movie">
      <a href="#" class="thumbnail movie-thumb"><img src="https://image.tmdb.org/t/p/w300/5ldMfEYNk0fea8QQ0mjyrksIr1M.jpg" class="movie-img"></a>
      <h3 class="movie-title"><a href="#">The Expendables 3</a></h3>
      <ul class="movie-stats">
        <li>
          <i class="fa fa-calendar"></i>
          <span class="movie-stat-value">15</span>
          scheduled
        </li>
        <li>
          <i class="fa fa-building"></i>
          <span class="movie-stat-value">3</span>
          cinemas
        </li>
      </ul>
    </div>

    <div class="col-md-3 movie">
      <a href="#" class="thumbnail movie-thumb"><img src="https://image.tmdb.org/t/p/w300/tmFDgDmrdp5DYezwpL0ymQKIbnV.jpg" class="movie-img"></a>
      <h3 class="movie-title"><a href="#">The Amazing Spider Man 2</a></h3>
      <ul class="movie-stats">
        <li>
          <i class="fa fa-calendar"></i>
          <span class="movie-stat-value">15</span>
          scheduled
        </li>
        <li>
          <i class="fa fa-building"></i>
          <span class="movie-stat-value">3</span>
          cinemas
        </li>
      </ul>
    </div>

    <div class="col-md-3 movie">
      <a href="#" class="thumbnail movie-thumb"><img src="https://image.tmdb.org/t/p/w300/bHarw8xrmQeqf3t8HpuMY7zoK4x.jpg" class="movie-img"></a>
      <h3 class="movie-title"><a href="#">Guardians of the Galaxy</a></h3>
      <ul class="movie-stats">
        <li>
          <i class="fa fa-calendar"></i>
          <span class="movie-stat-value">15</span>
          scheduled
        </li>
        <li>
          <i class="fa fa-building"></i>
          <span class="movie-stat-value">3</span>
          cinemas
        </li>
      </ul>
    </div>

  </div>
</section>

<div id="cinemas">
  <h2 class="section-title">Cinemas</h2>
  <ul>
    <li>
      <h3><a href="#">SM Lanang Premiere</a></h3>
      <span>4 movies</span>
    </li>
    <li>
      <h3><a href="#">Gaisano Mall of Davao</a></h3>
      <span>6 movies</span>
    </li>
  </ul>
</div>