<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class='navbar-brand' title='Silver Backstage'}}S{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'movies'}}Movies{{/link-to}}</li>
        <li>{{#link-to 'cinemas'}}Cinemas{{/link-to}}</li>
        <li>{{#link-to 'schedules'}}Schedules{{/link-to}}</li>
        <li><a href="#">Settings</a></li>
        <li><a href="/sidekiq">Sidekiq</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="gravatar dropdown-toggle" data-toggle="dropdown"><img src="https://www.gravatar.com/avatar/dce5d961f6d2060241e38ea075e4bfd8?size=32&amp;default=mm" alt="Brux"> <i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="wrap" class="container">

  <div class="content">
    {{{outlet}}}
  </div>

</div>