<div id="wrap">
    
  <div class="nav-pane">
    
    <div class="logo-box">
      <h1 class="logo">
        {{#link-to 'index'}}Silver{{/link-to}}
      </h1>
    </div>
    
    <nav class="main-menu">
      <ul>
        <li class="movies-link">
          {{#link-to 'movies'}}Movies{{/link-to}}
          {{outlet 'movies-submenu'}}
        </li>
        <li class="cinemas-link">
          {{#link-to 'cinemas'}}Cinemas{{/link-to}}
        </li>
        <li class="schedules-link">
          {{#link-to 'schedules'}}Schedules{{/link-to}}
        </li>
        <li class="settings-link"><a href="#">Settings</a></li>
      </ul>
    </nav>
    
  </div>
  
  <div class="content">
    {{{outlet}}}
  </div>

</div>