<div class="movie-popover">

  <div class="movie-trailer">
    <img {{bind-attr src=backdropUrl}} {{bind-attr alt=title}}>
  </div>

  <div class="container">
  
    <h2 class="movie-title">{{title}}</h2>
  
    <p>{{overview}}</p>
  
  </div>

</div>
<div class="curtains"></div>