<nav id="extra-menu">
	<h3 class="menu-title">Filter</h3>
	<ul>
		<li><i class="icon-flag"></i> Now Showing</li>
		<li><i class="icon-watch"></i> All</li>
		<li><i class="icon-circle"></i> All</li>
	</ul>
</nav>