$blue: #3498db;
$midnight: #2c3e50;
$green: #1abc9c;
$default-font: "Lato", "Helvetica Neue", Arial, sans-serif;
$default-font-color: #444;

@import "compass/css3";
@import "normalize";
@import "media-queries";
@import "utils";
@import "ultra-icons";

// Layout
html, body {
  height: 100%;
}

img { // Make images responsive by default
  height: auto;
  max-width: 100%;
}

// Typography
body {
  color: $default-font-color;
  font: .95em $default-font;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color .25s;
}

a:hover {
  color: darken($blue, 15%);
}

// Header
header {
  background: #fff;
  box-shadow: 0 3px 3px rgba(black, .13);
}

#logo {
  background-color: $green;

  h1 {
    margin: 0;
    padding: 0;

    a {
      background: image-url("logo-white.png") center no-repeat;
      display: block;
      height: 60px;
      text-indent: -9999px;
    }
  }

  #toggle-mobile-menu {
    color: #fff;
    display: block;
    font-size: 1.5em;
    left: 15px;
    position: absolute;
    top: 18px;
  }
}

#search-form {
  display: none;

  @include respond-to(large) {
    display: block;
    width: 50%;
  }
}

#user-menu {
  display: none;

  @include respond-to(large) {
    display: block;
    text-align: right;
    width: 25%;
  }
}

// App Area
#app-area {
  padding-top: 20px;
}

// Menu
#main-menu {
  padding-right: 10px;

  .menu {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 5px;
    }

    a {
      border-left: 0px solid transparent;
      color: $midnight;
      display: block;
      padding: 3px 0 3px 15px;

      &:hover {
        color: $blue;
      }

      &.active {
        color: $blue;
        border-left: 5px solid $blue;
        padding-left: 10px;
      }
    }

    i {
      text-align: center;
      width: 30px;
    }
  }
}

// Content
#content {
  padding: 14px 20px 20px 20px;
}

// Page header
.page-header {
  margin-bottom: 20px;
  margin-top: -5px;

  h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
  }

  .sub {
    color: #777;
  }

}

// Overview
#overview {
  margin: 0 auto;

  .page-header {

    h2 {
      font-size: 2em;
      margin-bottom: .5em;
      margin-top: .5em;
    }

    .fa {
      color: $blue;
      font-size: 4em;
    }
  }

  .timeline {
    margin-top: 40px;
  }
}

#stats {
  margin: 40px auto 0 auto;
  width: 50%;

  .stat-value { 
    font-size: 2em;
    font-weight: 400;
  }

  .stat-title {
    color: #777;
    font-size: 1em;
    font-weight: normal;
  }
}

.timeline {
  position: relative;

  &:before {
    background: #ddd;
    content: " ";
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    width: 2px;
  }

  .timeline-item {
    border: 1px solid #ccc;
    display: flex;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 48%;

    &:before {
      border: 1px solid #fff;
      content: " ";
      display: block;
      height: 12px;
      left: 0;
      position: absolute;
      top: 13px;
      width: 12px;
    }

    &.right {
      margin-left: 52%;
    }

    time {
      color: #777;
      display: block;
      font-size: .75em;
      margin-bottom: .25em;
    }

    a {
      color: $midnight;
    }

    .timeline-item-title {
      color: $blue;
      font-weight: bold;
    }
  }

  .timeline-image {
    display: flex;
    align-items: center;
    width: 10%;

    .fa {
      color: $blue;
      font-size: 2em;
    }
  }

  .timeline-content {
    flex: 1;
  }
}

// Media Grids
.media-grid {
  display: flex;
}

.media {
  width: 20%;
}

// User session pages
body.user-session {

  #content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px #eee;
    margin: 10% auto 0 auto;
    padding: 20px;
    width: 35%;
  }

  .page-header {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}