$blue: #3498db;
$asphalt: #34495e;
$asphalt_light: lighten($asphalt, 5%);
$midnight: #2c3e50;
$green: #1abc9c;
$default-font: "Lato", "Helvetica Neue", Arial, sans-serif;
$default-font-color: #444;

@import "compass/css3";
@import "normalize";
@import "media-queries";
@import "utils";
@import "ultra-icons";
@import "ceaser-easing";

// Layout
html, body {
  height: 100%;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 60px;
}

img { // Make images responsive by default
  height: auto;
  max-width: 100%;
}

img.fi {
  //opacity: 0;
  @include transition(opacity 200ms ease-out)
}

img.fi-loaded {
  opacity: 1;
}

// Typography
body {
  color: $default-font-color;
  font: .95em $default-font;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: darken($blue, 15%);
}

// Forms
input:focus {
  outline: 0;
}

// Header
header {
  background: #fff;
  box-shadow: 0 3px 3px rgba(black, .13);
  opacity: .98;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include respond-to(large) {
    display: flex
  }
}

#logo {
  background-color: $green;

  h1 {
    margin: 0;
    padding: 0;

    a {
      background: image-url("logo-white.png") center no-repeat;
      display: block;
      height: 60px;
      text-indent: -9999px;
    }
  }

  @include respond-to(large) {
    width: 20%;
  }
}

#toggle-mobile-menu {
  color: #fff;
  display: block;
  font-size: 1.5em;
  left: 15px;
  position: absolute;
  top: 18px;

  @include respond-to(large) {
    display: none;
  }
}

#search-form {
  display: none;
  margin-top: 10px;

  @include respond-to(large) {
    display: block;
    width: 50%;
  }
}

#search-form {
  
  form {
    display: inline-block;
    position: relative;
    width: 60%;
  }

  input {
    background-color: #eee;
    border-radius: 2em;
    border: 0;
    display: inline-block;
    margin: 0 15px;
    padding: 10px 15px;
    width: 80%;
  }

  button {
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
    position: absolute;
    right: 45px;
    top: 9px;
  }
}

#user-menu {
  display: none;

  @include respond-to(large) {
    display: block;
    flex: 1;
    padding-right: 30px;
    text-align: right;
  }

  a {
    display: block;
    margin-top: 11px;
  }

  .gravatar {
    border-radius: 50px;
    height: 38px;
    width: 38px;
  }
}

// Left Pane
#left-pane {
  background-color: #26313c;
  height: 100%;
  left: -80%;
  position: fixed;
  top: 0;
  width: 80%;

  @include respond-to(large) {
    left: auto;
    top: auto;
    width: 20%;
  }

  nav {
    margin-top: 15px;

    &:nth-child(2) {
      margin-top: 0;

      @include respond-to(large) {
        margin-top: 22px;
      }
    }
  }

  .menu-title {
    border-bottom: 1px solid #3a3a3a;
    color: lighten(#26313c, 50%);
    margin: 0;
    padding: 15px;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;

    @include respond-to(large) {
      border: none;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
  }

  li {
  }

  a {
    border-bottom: 1px solid #3a3a3a;
    color: lighten(#26313c, 15%);
    display: block;
    padding: 15px;

    &:hover {
      color: #fff;

      i {
        color: $green;
      }
    }

    &.active, &.active:hover {
      color: #fff;

      i {
        color: $green;
      }
    }

    @include respond-to(large) {
      border: none;
      padding: 10px 30px
    }
  }

  i {
    margin-right: .5em;
  }
}

#search-form-mobile {
  background-color: darken($green, 15%);
  height: 60px;

  @include respond-to(large) {
    display: none;
  }

  form {
    display: flex;
  }

  input {
    border-radius: 2em;
    border: 0;
    display: inline-block;
    margin: 0 15px;
    padding: 5px 15px;
    width: 100%;
  }
}

// Left pane toggle on mobile
@media only screen and (max-width: $break-large) {

  header, #content {
    @include transition(margin-left 0.2s ease);
  }

  #left-pane {
    @include transition(left 0.2s ease);
  }

  #wrap.show-menu {
    overflow: hidden;

    #left-pane {
      left: 0;
    }

    header, #content {
      margin-left: 80%;
      width: 100%;
    }
  }

}

// App Area
#app-area {
  padding-top: 20px;
}

// Content
#content {
  @include respond-to(large) {
    display: flex;
    flex: 1;
  }
}

#content-pane {
  padding: 30px;

  @include respond-to(large) {
    flex: 1;
    margin-left: 20%;
    padding-top: 30px;
  }
}

// Page header
.page-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;

  h2 {
    color: $midnight;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0 0 5px 0;
  }

  small, span {
    color: #ccc;
  }

}

// Overview
#overview {
  margin: 0 auto;

  .page-header {

    h2 {
      font-size: 2em;
      margin-bottom: .5em;
      margin-top: .5em;
    }

    .fa {
      color: $blue;
      font-size: 4em;
    }
  }

  .timeline {
    margin-top: 40px;
  }
}

#stats {
  margin: 40px auto 0 auto;
  width: 50%;

  .stat-value { 
    font-size: 2em;
    font-weight: 400;
  }

  .stat-title {
    color: #777;
    font-size: 1em;
    font-weight: normal;
  }
}

.timeline {
  position: relative;

  &:before {
    background: #ddd;
    content: " ";
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    width: 2px;
  }

  .timeline-item {
    border: 1px solid #ccc;
    display: flex;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 48%;

    &:before {
      border: 1px solid #fff;
      content: " ";
      display: block;
      height: 12px;
      left: 0;
      position: absolute;
      top: 13px;
      width: 12px;
    }

    &.right {
      margin-left: 52%;
    }

    time {
      color: #777;
      display: block;
      font-size: .75em;
      margin-bottom: .25em;
    }

    a {
      color: $midnight;
    }

    .timeline-item-title {
      color: $blue;
      font-weight: bold;
    }
  }

  .timeline-image {
    display: flex;
    align-items: center;
    width: 10%;

    .fa {
      color: $blue;
      font-size: 2em;
    }
  }

  .timeline-content {
    flex: 1;
  }
}

// Media Grids
.media-grid {
  display: flex;
  flex-wrap: wrap;
}

.media {
  margin-bottom: 5%;
  margin-right: 5%;
  width: 15%;
}

.media-thumbnail {
  margin-bottom: 5px;
}

.media-title {
  color: $asphalt_light;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.media-info {
  color: #999;
  font-size: .9em;
}

// Movie media objects
.movie.media {

  .media-thumbnail {
    height: 230px;
    overflow: hidden;

    &.no-thumbnail {
      background-color: #95a5a6;

      a {
        background: image-url("logo-white.png") center no-repeat;
        background-size: 50%;
        opacity: .25;
      }
    }
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
  }

  img {
    display: block;
  }

}

// User session pages
body.user-session {

  #content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px #eee;
    margin: 10% auto 0 auto;
    padding: 20px;
    width: 35%;
  }

  .page-header {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}