<div id="overview" class="align-center">

  <div class="page-header">
    <i class="fa fa-smile-o"></i>
    <h2>Hey there, Brux!</h2>
    <span class="sub">Silver currently has</span>
  </div>

  <section id="stats">

    <div class="row">
      
      <div class="md-3 stat">
        <span class="stat-value">8</span>
        <h3 class="stat-title">Movies</h3>
      </div>

      <div class="md-3 stat">
        <span class="stat-value">7</span>
        <h3 class="stat-title">Cinemas</h3>
      </div>

      <div class="md-3 stat">
        <span class="stat-value">123</span>
        <h3 class="stat-title">Schedules</h3>
      </div>

      <div class="md-3 stat">
        <span class="stat-value">2,951</span>
        <h3 class="stat-title">Records</h3>
      </div>

    </div>

  </section>

  <div class="timeline" style="display: none">
    
    <div class="timeline-item left">
      <div class="timeline-image">
        <i class="fa fa-film"></i>
      </div>
      <div class="timeline-content">
        <time>12:05 am Sept 5, 2014</time>
        <a href="#" class="timeline-item-title">The Expendables 3</a> is showing on <a href="#">SM Lanang Premiere Cinema 5</a>
      </div>
    </div>

    <div class="timeline-item right">
      <div class="timeline-image">
        <i class="fa fa-film"></i>
      </div>
      <div class="timeline-content">
        <time>12:10 am Sept 5, 2014</time>
        <a href="#" class="timeline-item-title">Guardians of the Galaxy</a> is showing on <a href="#">SM Lanang Premiere Cinema 5</a>
      </div>
    </div>

    <div class="timeline-item left">
      <div class="timeline-image">
        <i class="fa fa-film"></i>
      </div>
      <div class="timeline-content">
        <time>1:00 pm Sept 5, 2014</time>
        <a href="#" class="timeline-item-title">Guardians of the Galaxy</a> is showing on <a href="#">Gaisano Mall Cinema 10</a>
      </div>
    </div>

    <div class="timeline-item right">
      <div class="timeline-image">
        <i class="fa fa-cogs"></i>
      </div>
      <div class="timeline-content">
        <time>2:00 pm Sept 5, 2014</time>
        Update movie scores
      </div>
    </div>

  </div>

</div>