<div id="movies">

  <div class="page-header">
    <h2>Now Showing</h2>
    <small>Listing 2 of 64 movies</small>
  </div>

  <div class="media-grid">
    
    {{#each}}
    <div class="media movie">
      {{#if poster}}
      <div class="media-thumbnail">
      {{else}}
      <div class="media-thumbnail no-thumbnail">
      {{/if}}
        <a href="#">{{#if poster}}<img {{bind-attr src=poster_url}} {{bind-attr alt=title}}>{{/if}}</a>
      </div>
      <a href="#" class="media-title">{{title}}</a>
      23 scheduled<br>
      5 cinemas
    </div>
    {{/each}}

  </div>

</div>