<div id="movies">

  <div class="page-header">
    <div class="grid">
      <h2>Movies</h2>
    </div>
  </div>

  <div class="media-grid">
    
    {{#each}}
    <div class="media">
      <div class="media-thumbnail">
        <a href="#"><img src="{{poster}}" alt="{{title}}"></a>
      </div>
      <a href="#" class="media-title">{{title}}</a>
      23 scheduled<br>
      5 cinemas
    </div>
    {{/each}}

  </div>

</div>