---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=015038105167316597506:a4dt9shmeqy&imgSize=large&key=AIzaSyAfz3-gAZaNXsiUQqULkj4H8rKC9Z-SfeE&q=Moron%205.2%20poster%202014&safe=medium&searchType=image
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"icPN-8KDcAv-Pjt5sLxyRDyuN-0/gbKfSWpv0guGaLdINO9Qd3oSK-g"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "nextPage": [
           {
            "title": "Google Custom Search - Moron 5.2 poster 2014",
            "totalResults": "35400",
            "searchTerms": "Moron 5.2 poster 2014",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "015038105167316597506:a4dt9shmeqy",
            "searchType": "image",
            "imgSize": "large"
           }
          ],
          "request": [
           {
            "title": "Google Custom Search - Moron 5.2 poster 2014",
            "totalResults": "35400",
            "searchTerms": "Moron 5.2 poster 2014",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "015038105167316597506:a4dt9shmeqy",
            "searchType": "image",
            "imgSize": "large"
           }
          ]
         },
         "context": {
          "title": "Silver CSE"
         },
         "searchInformation": {
          "searchTime": 0.261918,
          "formattedSearchTime": "0.26",
          "totalResults": "35400",
          "formattedTotalResults": "35,400"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Moron 5 and the Crying Lady - Wikipedia, the free encyclopedia",
           "htmlTitle": "\u003cb\u003eMoron\u003c/b\u003e 5 and the Crying Lady - Wikipedia, the free encyclopedia",
           "link": "http://upload.wikimedia.org/wikipedia/en/e/ed/Moron_5_and_the_Crying_Lady.jpg",
           "displayLink": "en.wikipedia.org",
           "snippet": "Moron 5 and the Crying Lady.",
           "htmlSnippet": "\u003cb\u003eMoron\u003c/b\u003e 5 and the Crying Lady.",
           "mime": "image/jpeg",
           "image": {
            "contextLink": "http://en.wikipedia.org/wiki/Moron_5_and_the_Crying_Lady",
            "height": 720,
            "width": 499,
            "byteSize": 130532,
            "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2ONlW7QGhpzcYOss41DgUtlLyYmmV8ewRJI0FKwg-Be87_D1U6EaPbA",
            "thumbnailHeight": 140,
            "thumbnailWidth": 97
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Photos and videos by Solid Matteo fans (@SolidMFGFans) | Twitter",
           "htmlTitle": "Photos and videos by Solid Matteo fans (@SolidMFGFans) | Twitter",
           "link": "https://pbs.twimg.com/media/ByBuvjVCYAAyCMK.jpg:large",
           "displayLink": "twitter.com",
           "snippet": "Embedded image permalink",
           "htmlSnippet": "Embedded image permalink",
           "mime": "image/",
           "fileFormat": "Image Document",
           "image": {
            "contextLink": "https://twitter.com/SolidMFGFans/media",
            "height": 629,
            "width": 465,
            "byteSize": 66266,
            "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaeSp8Zj4T58gj7TVfIjQj_mhV2871LOXV8gZaGVWMyybzfIg-S4hX1Q",
            "thumbnailHeight": 137,
            "thumbnailWidth": 101
           }
          },
          {
           "kind": "customsearch#result",
           "t[...]
