<!DOCTYPE html>
<html>
<head>
  
  <title>Silver / Backstage</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag('backstage', media: 'all') %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">

  <%= csrf_meta_tags %>

</head>
<body>

  <div id="wrap" class="show-menu">
    
    <header>
      
      <div id="logo">
        <a href="#" id="toggle-mobile-menu"><i class="icon-menu"></i></a>
        <h1><a href="/">Silver</a></h1>
      </div>

      <div id="search-form">
        <form action="" method="get">
          <input type="search" name="q" placeholder="Search Silver&hellip;">
        </form>
      </div>

      <div id="user-menu">
        <a href="#"><img src="https://www.gravatar.com/avatar/dce5d961f6d2060241e38ea075e4bfd8?size=48&amp;default=mm" alt="Brux"></a>
      </div>

    </header>

    <div id="content">
      
      <div id="left-pane">
        
        <div id="search-form-mobile">
          <form action="" method="get">
            <input type="search" name="q" placeholder="Search Silver">
          </form>
        </div>

        <nav id="main-menu">
          <h3 class="menu-title">Main</h3>
          <ul>
            <li><a href="#" class="active"><i class="icon-film"></i> Movies</a></li>
            <li><a href="#"><i class="icon-marker"></i> Cinemas</a></li>
            <li><a href="#"><i class="icon-calendar"></i> Schedules</a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
          </ul>
        </nav>

        <nav id="extra-menu">
          <h3 class="menu-title">Filter</h3>
          <ul>
            <li><a href="#" class="active"><i class="icon-flag"></i> Now Showing</a></li>
            <li><a href="#"><i class="icon-watch"></i> Past</a></li>
            <li><a href="#"><i class="icon-circle"></i> All</a></li>
          </ul>
        </nav>

      </div>

      <div id="content-pane">
        
        <div class="page-header">
          <h2>Now Showing</h2>
          <small>Listing 2 of 64 movies</small>
        </div>

      </div>

    </div>

  </div>

</body>
</html>
